<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA</title>
    <link rel="stylesheet" href="../Styles/estilos.css">
</head>
<body>
  <header>
      <h1 class="tituloPagina">Space Wonders</h1>
      <ul class="menu">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="planetas.html">Planetas</a></li>
      <li><a href="curiosidades.html">Datos curiosos</a></li>
      <li><a href="nasa.html">NASA</a></li>
      <li><a href="contacto.html">Contactanos</a></li>
      </ul>
    </header>

      <section class="borde">
        <img class="imagen"
        src="../Imagenes/blue origin nasa luna.webp" alt="Origenes NASA">
      </section>

      <section class="piePagina">
        <h1>Administración Nacional de Aeronáutica y el Espacio (NASA)</h1>
        <p>La Administración Nacional de Aeronáutica y el Espacio
           (NASA, sigla en inglés) ayuda a entender y proteger el planeta, y explora el universo.</p>
      </section>

      <section>
        <div class="imageContainer">
        <img src="../Imagenes/afrc2021-0149-02_orig.jpg" alt="Origenes NASA">
        <img src="../Imagenes/p21-170-02.jpg" alt="Origenes NASA">
      </div>
      </section>

      <section class="seccionLogo">
        <div class="logo">
          <a href="https://nasa.gov"> <img src="../Imagenes/NASA_logo.svg.png" alt="LogoNASA" width="100px"> </a>
        </div>
        <h1 >Si queres saber mas sobre la NASA: </h1>
      </section>

  <section class="seccionSocial">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Contacto</h1>
    <div class="gridSocial">
      <div class="item">
        <img src="../Imagenes/LogoIg.png" alt="Logo instagram">
        <p>Instagram</p>
      </div>
      <div class="item">
        <img src="../Imagenes/logoTwitter.png" alt="Logo twitter">
        <p>Twitter</p>
      </div>
      <div class="item">
        <img src="../Imagenes/LogoUbicacion.png" alt="Logo Ubicacion">
        <p>Ubicacion</p>
      </div>
    </div>
  </section>

      <footer class="seccionFooter">
        <p>Space Wonders</p>
      </footer>
      
</body>
</html>